<nav>
  {% for button in site.data.sitemap %}

    <a
      href="{{ button.endpoint }}"

      {% if page.url == "/" and button.endpoint == "/" %}
        class="about-selector"
      {% endif %}

      {% if page.url contains "/links" and button.endpoint == "/links" %}
        class="links-selector"
      {% endif %}

      {% if page.url contains "/projects" and button.endpoint == "/projects" %}
        class="projects-selector"
      {% endif %}

      {% if page.url contains "/blog" and button.endpoint == "/blog" %}
        class="blog-selector"
      {% endif %}
    >

      {{ button.section }}

    </a>

  {% endfor %}
</nav>
