<div class="header-bar-height">
<div class="header-bar-width">
<nav>
<ul class="header-bar-list">
{% for button in site.data.sitemap %}
  <li>
    <a href="{{ button.endpoint }}"
      {% if page.url == "/" and button.endpoint == "/" %}
        class="header-bar-button header-bar-about-selector"
      {% elsif page.url contains '/links.html' and button.endpoint contains '/links' %}
        class="header-bar-button header-bar-links-selector"
      {% elsif page.url contains "/projects" and button.endpoint == "/projects" %}
        class="header-bar-button header-bar-projects-selector"
      {% elsif page.url contains "/blog" and button.endpoint contains "/blog" %}
        class="header-bar-button header-bar-blog-selector"
      {% else %}
        class="header-bar-button"
      {% endif %}
    >
      {{ button.section }}

    </a>
  </li>
{% endfor %}
</ul>
</nav>
</div>
</div>
<hr class="header-bar-divider"/>
