.about-content-formatter {
  display: flex;
  justify-content: space-around;

  padding: 0px 10px;
}

.about-custom-title {
  font-size: 2.5em;
}

.about-profile-picture {
  width: 230px;
  height: 230px;

  margin: 0.9em 0px 0px 0px;

  border-radius: 25px;
}

.about-text-width-constrainer {
  max-width: 480px;
}


@media screen and (max-width: 800px) {
  .about-content-formatter {
    flex-direction: column;
    align-items: center;

    padding: 0px;
  }

  .about-profile-picture {
    margin: 1.0em;
  }

  .about-text-width-constrainer {
    margin-top: 1.5em;
  }
}

.about-link-ninja-van {
  color: #FF3939;
}

.about-link-teampay {
  color: #0094FF;
}
