.about-centralizer {
  display: flex;
}

.about-custom-title {
  font-size: 2.5em;
}

.about-profile-picture {
  width: 230px;
  height: 230px;

  margin: 0.9em 30px 0px auto;
}

.about-text-positioner {
  max-width: 480px;

  margin-right: auto;
}

@media screen and (max-width: 800px) {
  .about-centralizer {
    flex-direction: column;
    align-items: center;

    padding: 0px;
  }

  .about-profile-picture {
    margin: 0px;
  }

  .about-text-positioner {
    margin: 1.0em 0px 0px 0px;
  }
}

.about-link-ninja-van {
  color: #FF3939;
}

.about-link-teampay {
  color: #0094FF;
}
