hr.footer-bar-divider {
  border: 2px solid #0A1F3010;
  border-radius: 2px;
}

.footer-bar-positioner {
  height: 140px;

  max-width: 800px;

  margin: 140px auto 0px auto;
  padding: 0px 10px;
}

.footer-bar-custom-text {
  margin-top: 1.0em;

  font-size: 0.9em;

  text-align: right;
}

.footer-bar-heart-formatter {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

  color: #FF2B4E;
}

