.footer-bar-positioner {
  background-color: grey;

  height: 100px;

  margin: 140px auto 0px auto;

  max-width: 800px;
}

.footer-bar-custom-text {
  margin-top: 10px;

  line-height: 1.2em;
  font-size: 0.9em;

  text-align: right;
}

.footer-bar-heart-formatter {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

  color: #FF3939;
}
