.footer-bar-margin-maker {
  margin-top: 140px;
}

.footer-bar-custom-text {
  margin-bottom: 60px;

  line-height: 1.2em;
  font-size: 16px;

  text-align: right;
}

span.footer-bar-heart-formatter {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

  color: #FF3939;
}
