.header-bar-height {
  height: 80px;
  display: flex;
  align-items: center;
}

.header-bar-width {
  width: 650px;
  margin: 0px auto;
}

.header-bar-list {
  list-style: none;

  display: flex;
  justify-content: space-between;
}

.header-bar-button {
  height: 60px;
  width: 158px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;

  font-size: 1.2em;
  font-weight: 600;

  color: #0A1F3035;
  text-decoration: none;

  transition: background-color 0.05s cubic-bezier(0,.92,.67,.99);
}

hr.header-bar-divider {
  border: 1px solid #0A1F3015;
}

.header-bar-button:hover {
  opacity: 100%;

  background-color: #0A1F3009;
}

.header-bar-button:active {
  transform: scale(0.96);
  transition: transform 0.05s cubic-bezier(0,.92,.67,.99);
}

@media screen and (max-width: 800px) {
  .header-bar-button > a {
    margin: 5px 2px;
    padding: 10px 0px;

    font-size: 0.9em;
  }
  
  hr.header-bar-divider {
    border: 0.5px solid #0A1F3020;
  }
}

.header-bar-about-selector {
  color: #00BB29 !important;
  background-color: #0A1F3009;
}

.header-bar-links-selector {
  color: #EE3B86 !important;
  background-color: #0A1F3009;
}

.header-bar-projects-selector {
  color: #007CD7 !important;
  background-color: #0A1F3009;
}

.header-bar-blog-selector {
  color: #FF6B00 !important;
  background-color: #0A1F3009;
}
