nav {
  box-shadow: 0px 2px #DDDDDD;
  padding: 0px 5px;
}

.header-bar-buttons-centraliser {
  display: flex;
  justify-content: center;

  max-width: 650px;

  margin: 0px auto;

  list-style: none;
}

.header-bar-button {
  display: contents;
}

.header-bar-button > a {
  display: flex;
  justify-content: center;

  width: 25%;

  margin: 10px 5px;
  padding: 16px 0px;

  border-radius: 10px;

  font-size: 1.2em;
  font-weight: 600;

  color: #CCCCCC;
  text-decoration: none;

  transition: background-color 0.05s linear;
}

.header-bar-button > a:hover {
  opacity: 100%;

  background-color: #F5F5F5;
}

@media screen and (max-width: 800px) {
  nav {
    box-shadow: 0px 1px #DDDDDD;
  }

  .header-bar-button > a {
    margin: 5px 2px;
    padding: 10px 0px;

    font-size: 0.9em;
  }
}

.about-selector {
  color: #00BB29 !important;
  background-color: #F5F5F5;
}

.links-selector {
  color: #EE3B86 !important;
  background-color: #F5F5F5;
}

.projects-selector {
  color: #007CD7 !important;
  background-color: #F5F5F5;
}

.blog-selector {
  color: #FF6B00 !important;
  background-color: #F5F5F5;
}
