.reusable-list {
  max-width: 600px;

  margin: 0px auto;
}

.reusable-list > li {
  list-style-type: none;
}

.reusable-list-item {
  padding: 15px 20px;

  border-radius: inherit;

  background-color: #EEEEEE;

  font-size: 0.9em;
  
  transition: transform 0.05s ease-in;
}

.reusable-list-item-shadow {
  display: block;

  margin-top: 20px;

  border-radius: 20px;

  background-color: #CCCCCC;

  text-decoration: none;
}

.reusable-list-item-shadow:hover {
  opacity: 100%;
}

.reusable-list-item-shadow:hover > .reusable-list-item {
  transform: translate(0px, -2px);
}

.reusable-list-item-shadow:active > .reusable-list-item {
  transform: unset;
}
